In [1]:
#Your exercises for the day:
#Plotting exercises:
#Draw a histogram that shows how many penguins of each species are in the data
#Create a plot of your choosing that only shows the data of female Gentoos.
#Create a scatterplot of the culmen length and depth where the size of the markers represent the Body mass of the penguin
#Find at least one more way (besides a scatterplot) to visualize the relationship between culmen lenght and depth (or another bivariate distribution)
#Aggregation exercises:
#What is the percentage of male and female penguins in the dataset?
#What is the weight of the lightest male and female penguin?
#Find the penguin with the longest beak.
# How much do all Gentoo-penguins weigh altogether?
# Which Flipper Length value appears 21 times in the dataset?
# With help of the pandas documentation, try and understand what this line of code does exactly: df.groupby(['Species', 'Sex'])['Sex'].count().unstack().plot.bar()

In [2]:
import pandas as pd

In [3]:
fert=pd.read_csv("gapminder_total_fertility.csv", index_col=0)
fert

,1800,1801,1802,1803,1804,1805,1806,1807,1808,1809,...,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015
Total fertility rate,,,,,,,,,,,,,,,,,,,,,
Abkhazia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Afghanistan,7.00,7.00,7.00,7.00,7.00,7.00,7.00,7.00,7.00,7.00,...,6.70,6.46,6.20,5.93,5.66,5.40,5.14,4.90,4.68,4.47
Akrotiri and Dhekelia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Albania,4.60,4.60,4.60,4.60,4.60,4.60,4.60,4.60,4.60,4.60,...,1.85,1.80,1.76,1.74,1.74,1.75,1.76,1.77,1.78,1.78
Algeria,6.99,6.99,6.99,6.99,6.99,6.99,6.99,6.99,6.99,6.99,...,2.58,2.66,2.73,2.78,2.82,2.83,2.82,2.80,2.76,2.71
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Yugoslavia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Zambia,6.71,6.71,6.71,6.71,6.71,6.71,6.71,6.71,6.71,6.71,...,5.93,5.91,5.88,5.85,5.81,5.77,5.73,5.69,5.64,5.59
Zimbabwe,6.75,6.75,6.75,6.75,6.75,6.75,6.75,6.75,6.75,6.75,...,3.94,3.90,3.85,3.79,3.72,3.64,3.56,3.49,3.41,3.35
Åland,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Åland,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
life=pd.read_excel('gapminder_lifeexpectancy.xlsx', index_col=0)
life.shape

FileNotFoundError: [Errno 2] No such file or directory: 'gapminder_lifeexpectancy.xlsx'

In [ ]:
life.columns
fert.columns
fert.columns=fert.columns.astype(int)

In [ ]:
fert.index.name='country'
fert.index

In [ ]:
fert=fert.reset_index()

In [ ]:
fert.head()

In [ ]:
fert = fert.melt(id_vars='country', var_name='year', value_name = 'fertility_rate')
fert

In [ ]:
fert2 = fert.melt(id_vars='country', var_name='year', value_name='fertility_rate')
fert2

In [ ]:
life.index.name = "country"

In [ ]:
life.index

In [ ]:
life = life.reset_index()
life.head(5)

In [ ]:
life = life.melt(id_vars='country',var_name='year',value_name='life_expec')

In [ ]:
life.head(5)

In [ ]:
popu=pd.read_excel("gapminder_population.xlsx",index_col=0)
popu.index.name="country"
popu.head(3)
popu = popu.reset_index(drop=False)
popu

In [ ]:
#popu=popu.melt(id_vars='country', var_name = 'year', value_name= 'Population')
# the column with name of year has problem
popu=popu.melt(id_vars='country')

popu

In [ ]:
#popu=popu.melt(id_vars='country',var_name = 'year', value_name='papulation')
popu=popu.rename(columns={'variable':'year','value':'population'})
popu

In [ ]:
df=fert.merge(life)
df

In [ ]:
df=df.merge(popu)
df

In [ ]:
df_y=df[df['year']>1959]
df_y_cl=df_y.dropna()
df_y_cl

In [ ]:
df['country'].isin(['France', 'Germany', 'Sweden'])

In [ ]:
df_subset = df.loc[df['country'].isin(['France', 'Germany', 'Sweden'])]
df_subset

In [ ]:
import seaborn as sns
import matplotlib.pyplot as plt
sns.lineplot(x='year',y='life_expec',hue='country',data=df_subset)

In [ ]:
sns.scatterplot(x='year',y='life_expec',hue='country',data=df_subset, alpha=0.6)

In [ ]:
df_subset_y=df_subset[df['year']>1959]
df_subset_y

In [ ]:
df_subset_y

In [ ]:
# df_y=df[df['year']>1959]
# df_y_cl=df_y.dropna()
# df_y_cl
# df_y_cl_1960=df_y_cl[df_y_cl['year']==1960]
# df_y_cl_1960
# fig,ax=plt.subplots(figsize=(7,7))
# ax= sns.scatterplot(data=df_y_cl_1960, y='fertility_rate',x='life_expec')

# plt.savefig('df_y_cl_1960.png')
# plt.show()
# for i in range(1960,2016):
#     df_y_n=df_y_cl[df_y_cl['year']== i]
#     fig,ax=plt.subplots(figsize=(7,7))
#     ax= sns.scatterplot(data=df_y_n, y='fertility_rate',x='life_expec')
#     plt.title("Fertility_rate and life_expection in year {}".format(i))
#     plt.savefig('df_y_cl_{}.png'.format(i))
#     plt.show()

In [ ]:
#(df_y_cl['population']/1000000).describe()

df_y_cl.loc[(df_y_cl['population']> 10000000)&(df_y_cl['population']<5000000),'country_size']='L'  
    
#elif df_y_cl['population'] > 10000000 & df_y_cl['population'] < 40000000:
#     df_y_cl['country_size']='M'
# df_y_cl['country_size']='S'
df_y_cl.loc[df_y_cl['population']>50000000,'country_size'] = 'M'

df_y_cl.loc[df_y_cl['population']<10000000,'country_size'] = 'S'

In [ ]:
df_y_cl['country_size']

In [ ]:
pip install imageio

In [ ]:
df_y_cl['population']

In [ ]:
import imageio

images = []

for i in range(2000, 2015):
    filename = 'df_y_cl_{}.png'.format(i)
    images.append(imageio.imread(filename))

imageio.mimsave('output.gif', images, fps=20)

In [ ]:
df_y_cl['population'].max()

In [5]:

fig,ax=plt.subplots(figsize=(7,7))
df_y_cl_1960=df_y_cl[df_y_cl['year']==1960]
ax= sns.scatterplot(data=df_y_cl_1960, y='fertility_rate',x='life_expec',hue='country_size',
                    size='country_size',size_order=["S","M","L"])

NameError: name 'plt' is not defined