In [13]:
import pandas as pd

In [14]:
import os
os.pwd()

AttributeError: module 'os' has no attribute 'pwd'

In [15]:
os.getcwd()

'/home/baodong/spiced_projects/unsupervised-lemon-student-code'

In [17]:
df=pd.read_csv('/home/baodong/spiced_projects/unsupervised-lemon-encounter-notes/week_01/data/penguins_clean.csv')

In [18]:
df

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex
0,Adelie,Torgersen,39.1,18.7,181.0,3750.0,male
1,Adelie,Torgersen,39.5,17.4,186.0,3800.0,female
2,Adelie,Torgersen,40.3,18.0,195.0,3250.0,female
3,Adelie,Torgersen,36.7,19.3,193.0,3450.0,female
4,Adelie,Torgersen,39.3,20.6,190.0,3650.0,male
...,...,...,...,...,...,...,...
328,Chinstrap,Dream,55.8,19.8,207.0,4000.0,male
329,Chinstrap,Dream,43.5,18.1,202.0,3400.0,female
330,Chinstrap,Dream,49.6,18.2,193.0,3775.0,male
331,Chinstrap,Dream,50.8,19.0,210.0,4100.0,male
332,Chinstrap,Dream,50.2,18.7,198.0,3775.0,female